<table>
   <% var ii; for (ii=0; ii < quizes.length; ii++) { %>                <tr>
	<td style="color:blue;text-align:left"><%= quizes[ii].tema %></td>
	<td style="text-align:left"><a href="/quizes/<%= quizes[ii].id %>"><%= quizes[ii].pregunta %></a></td>
	<td><a href="/quizes/<%= quizes[ii].id %>/edit"><button>editar</button></a></td>
	<td>
		<form method="post" action="quizes/<%= quizes[ii].id %>?_method=delete">
			<button type="submit" onClick="return confirm('Borrar: <%= quizes[ii].pregunta %>');">borrar</button>
		</form>
	</td>
</tr> 
  <% } %>
</table>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
