<h3>Estadísticas de Quiz</h3>
<br/>
<div style="width: 350px; margin: 0 auto;">
<p style="text-align: left">El número total de preguntas es: <%= TotalPreguntas %> </p>
<p style="text-align: left">El número total de comentarios es: <%= TotalComentarios  %> </p>
<p style="text-align: left">La media de comentarios por pregunta es: <%= MediaComxPreg %> </p>
<p style="text-align: left">El número de preguntas sin comentario es: <%= PreguntasSinCom %> </p>
<p style="text-align: left">El número de preguntas con comentario es: <%= PreguntasConCom %> </p>
</div>

